/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 4, 2018, 7:47:47 PM
    Author     : Magazine3
*/
.pwaforwp-hide {
	display: none!important
}

.pwaforwp-dashboard h2 {
	margin-bottom: 5px
}

.pwaforwp-dashboard table th {
	width: 0;
	padding: 0
}

.pwaforwp-files-table {
	width: 100%
}

.pwaforwp-files-table th td {
	width: 300px
}

.pwaforwp-files-table th {
	vertical-align: inherit
}

.pwa-query-success {
	color: #028a00
}

.pwa-query-error {
	color: #f73434
}

.pwa_hide {
	display: none
}

.pwaforwp-push_notification th {
	padding: 0;
	width: 0
}

.pwaforwp-push_notification td {
	padding: 0
}

.pwaforwp-push-notificatoin-table {
	width: 100%
}

.pwaforwp-push-notificatoin-table th {
	width: 20%;
	padding: 10px
}

.pwaforwp-push-notificatoin-table input[type=text] {
	width: 30%
}

.pwaforwp-notification-success {
	color: #028a00
}

.pwaforwp-notification-error {
	color: #f73434
}

.pwaforwp_precaching_table input,
select {
	width: 200px
}

.pwaforwp_precaching_table td {
	vertical-align: top
}

.pwaforwp-pre-cache-table td {
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0
}

.pwaforwp-design table th {
	width: auto;
	padding: 0
}

.pwaforwp-p-rate-stars {
	display: inline-block;
	color: #ffb900;
	position: relative;
	top: 3px
}

.pwafowp-feature-ext {
	background: #fff;
	padding: 25px;
	border: 1px solid #d8d8d8
}

.pwaforwp-features-blocks li a {
	text-decoration: none
}

.pwaforwp-ele-ic {
	border-radius: 256px;
	display: inline-block;
	padding: 8px 10px 8px 10px;
	width: 70px;
	height: 70px;
	margin-right: 20px;
	float: left
}

.pwaforwp-ele-ic img {
	width: 85%;
	top: 5px;
	position: relative;
	left: 6px
}

.pwaforwp-ele-tlt h3 {
	margin: 0;
	font-size: 18px;
	line-height: 1.4
}

.pwaforwp-ele-tlt p {
	margin-top: 10px
}

.form-wrap .pwaforwp-sts-txt {
	font-size: 16px;
	color: #000
}

.pwaforwp-sts-txt span {
	color: #bebfc0;
	padding-left: 5px
}

.pwaforwp-d-btn {
	background: #46b450;
	padding: 6px 18px;
	border-radius: 30px;
	font-size: 14px;
	color: #fff
}

.pwaforwp-sts-btn a {
	text-decoration: none
}

.pwaforwp-sts-btn {
	box-sizing: border-box;
	margin-top: 15px;
	padding: 11px 11px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 100%
}

.pwaforwp-ext-active span {
	vertical-align: sub
}

.pwaforwp-ext-active input {
	width: 70%
}

.pwaforwp-ext-active p {
	margin: 0!important
}

.pwaforwp-premium_features .form-table th {
	width: auto;
	padding: 0
}

.pwaforwp-ext-selected {
	color: #000;
	font-weight: 500
}

#pwaforwp-ext-tab a {
	cursor: pointer
}

.pwaforwp-p-feature-table lable {
	font-weight: 500
}

.pwaforwp-sub-tab-headings {
	margin-top: 10px
}

.pwaforwp-sub-tab-headings span {
	color: #0073aa;
	cursor: pointer
}

.pwaforwp-sub-tab-headings span.selected {
	color: #000
}

#subtab-pushnots th:empty {
	display: none
}

.pwaforwp-main-wrapper {
	width: 75%;
	float: left
}

.pwaforwp-settings-second-div {
	width: 22%;
	float: right
}

.pwaforwp-feedback-panel {
	height: 200px;
	width: 280px;
	background: #fff;
	position: relative
}

.pwaforwp-feedback-panel h2 {
	text-align: center;
	padding-top: 18px
}

.pwaforwp-feedback-panel ul {
	list-style-type: circle;
	list-style: decimal;
	padding-left: 30px;
	font-size: 15px
}

.pwaforwp-social-sharing-buttons {
	text-align: center;
	padding-top: 20px
}

.pwaforwp-social-sharing-buttons a {
	text-align: center;
	text-decoration: none;
	padding: 8px
}

.pwaforwp-social-sharing-buttons .pwaforwp-twitter-share-button {
	background: #1b95e0!important;
	box-shadow: 0 0 0 #1b95e0!important;
	color: #fff!important;
	line-height: 20px!important;
	height: 21px!important;
	border-radius: 3px;
	margin-left: 5px
}

.pwaforwp-social-sharing-buttons .pwaforwp-facebook-share {
	background: #3b5998;
	box-shadow: 0 0 0 #1b95e0!important;
	color: #fff!important;
	line-height: 20px!important;
	height: 21px!important;
	border-radius: 3px;
	margin-right: 5px
}

.pwaforwp-upgrade-pro {
	background: #fff;
	top: 32px;
	padding: 30px;
	border: 1px solid #cecece;
	display: inline-block;
	color: #111;
	margin-top: 10px;
	border-radius: 8px;
	position: relative;
	box-sizing: border-box;
	width: 100%
}

.pwaforwp-upgrade-pro h2 {
	margin: 0;
	color: #222;
	font-size: 20px;
	text-align: center;
	margin-bottom: 27px
}

.pwaforwp-upgrade-pro ul {
	margin: 0 0 30px 0
}

.pwaforwp-upgrade-pro ul li {
	position: relative;
	padding-left: 30px;
	font-size: 15px;
	line-height: 1.4;
	margin-bottom: 10px
}

.pwaforwp-upgrade-pro ul li:before {
	content: "\f147";
	background-repeat: no-repeat;
	font-family: dashicons;
	position: absolute;
	color: #46b450;
	font-size: 25px;
	left: 0;
	line-height: 1;
	top: 0
}

.pwaforwp-upgrade-pro a {
	background: #43a047;
	padding: 10px 0;
	display: block;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 5px
}

.pwaforwp-upgrade-pro.promo-cpn {
	box-sizing: border-box;
	border: 1px solid #ca4a1f
}

.pwaforwp-upgrade-pro.promo-cpn h2 {
	color: #ca4a1f;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	margin: 0 0 20px 0
}

.pwaforwp-upgrade-pro.promo-cpn span {
	text-align: center;
	font-size: 14px;
	display: inline-block;
	color: #444;
	padding: 0 20px;
	box-sizing: border-box;
	line-height: 1.4;
	font-weight: 400
}

.pwa-promo {
	font-size: 20px;
	margin-top: 15px;
	width: 100%;
	text-align: center
}

.pwaforwp-upgrade-pro.promo-cpn .pwa-promo .prm-cpn {
	border: 1px dashed #ca4a1f;
	border-radius: 100px;
	margin-top: 5px;
	color: #ca4a1f;
	font-size: 20px;
	padding: 2px 15px 2px 15px
}

.pwaforwp-upgrade-pro.promo-cpn .prm-txt {
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	display: block;
	margin-top: 10px;
	line-height: 1
}

.pwaforwp-wrap .pwafw-tooltip {
	position: relative;
	display: inline!important;
	margin-left: 0;
	color: #d8d8d8!important;
	cursor: pointer;
}

.pwaforwp-wrap .pwafw-tooltip:hover {
	color: #333!important
}

.pwaforwp-wrap .pwafw-tooltip i {
	font-size: 18px;
	position: relative;
	top: 3px
}

.pwaforwp-wrap .pwafw-tooltip .pwafw-help-subtitle {
	visibility: hidden;
	width: max-content;
	background-color: #111;
	box-shadow: 0 0 10px 0 #999;
	color: #fff;
	line-height: 1.5;
	max-width: 410px;
	text-align: center;
	border-radius: 5px;
	padding: 10px 8px;
	position: absolute;
	z-index: 100;
	bottom: 100%;
	left: -26px;
	margin-bottom: 6px!important;
	opacity: 0;
	transition: opacity .3s;
	font-size: 11px
}

.pwaforwp-wrap .pwafw-help-subtitle a {
	color: #fff;
	background: #eee;
	padding: 0 5px;
	margin-left: 4px;
	color: #333;
	text-decoration: none;
	border-radius: 53px;
	margin-top: 9px
}

.pwaforwp-wrap .pwafw-tooltip .pwafw-help-subtitle::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 35px;
	max-width: 1px;
	margin-left: -5px;
	border-width: 9px;
	border-style: solid;
	border-color: #111 transparent transparent transparent
}

.pwaforwp-wrap .pwafw-tooltip:hover .pwafw-help-subtitle {
	visibility: visible;
	opacity: 1
}

.pwaforwp-wrap .pwafw-tooltip .pwafw-help-subtitle .afw-tootip-bottom {
	position: absolute;
	bottom: 3px;
	border-top: 1px solid #fff;
	left: 0;
	right: 0;
	top: auto;
	padding: 3px 0 0
}

.pwaforwp-wrap .pwafw-tooltip .pwafw-help-subtitle .afw-tootip-bottom .help-wrap {
	width: 49%;
	float: left;
	border-right: 1px solid #fff;
	color: #fff
}

.pwaforwp-wrap .pwafw-tooltip .pwafw-help-subtitle .afw-tootip-bottom .help-wrap:last-child {
	border: none
}

.pwaforwp-wrap .afw-tootip-bottom i:before {
	font-size: 15px
}

.ios-splash-images {
	padding: 10px 0 10px 15px;
	border: 1px solid #cdcdcd;
	display: block
}

.ios-splash-images-field {
	padding: 5px 0;
	font-size: 13px
}

.pwaforwp-feature-cards {
	list-style: none;
	text-align: justify;
	margin-left: -2%;
	margin-top: 20px
}

.pwaforwp-feature-cards li.pwaforwp-card-wrap {
	max-width: 48%;
	font-size: 16px;
	display: inline-block;
	width: 100%;
	text-align: left;
	margin-bottom: 2%;
	margin-left: 2%;
	vertical-align: top
}

.pwaforwp-feature-cards li.pwaforwp-card-wrap .pwaforwp-card-content {
	position: relative;
	background: #fff;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
	padding: 14px 7px 14px 17px;
	border-radius: 5px
}

.pwaforwp-feature-cards li.pwaforwp-card-wrap .pwaforwp-card-content .card-action {
	display: inline-flex
}

.pwaforwp-feature-cards li.pwaforwp-card-wrap .pwaforwp-card-content h2 {
	font-size: 16px;
	color: #000;
	margin: 0;
	line-height: 1;
	padding: 0;
	top: -1px;
	position: relative;
	cursor: pointer;
}

.pwaforwp-tlt-sw .card-action-settings span {
	font-size: 16px;
	color: #555;
	position: relative;
	top: 2px;
	cursor: pointer
}

#TB_ajaxContent .pwaforwp-wrap table th:empty {
	display: none
}

.pwaforwp-card-wrap .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px
}

.pwaforwp-card-wrap .switch input {
	opacity: 0;
	width: 0;
	height: 0
}

.pwaforwp-card-wrap .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s
}

.pwaforwp-card-wrap .slider:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 3px;
	bottom: 3px;
	background-color: #fff;
	transition: .4s
}

input:checked+.slider {
	background-color: #46b450
}

input:checked+.slider:before {
	left: -8px
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196f3
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px)
}

.pwaforwp-tlt-sw {
	display: inline-flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap
}

.pwaforwp-card-content label.switch {
	display: block;
	padding: 2px 0;
	width: 33px;
	height: 14px;
	right: 31px;
	position: absolute;
	top: 15px
}

.slider.round {
	border-radius: 60px
}

.slider.round:before {
	border-radius: 50%
}

.pwaforwp-toast-wrap {
	display: block;
	position: fixed;
	width: 200px;
	pointer-events: none!important;
	letter-spacing: normal;
	z-index: 9999999;
	bottom: 20px;
	right: 20px
}

.pwaforwp-toast-single {
	display: block;
	width: 100%;
	padding: 10px;
	margin: 0 0 5px;
	border-radius: 4px;
	font-size: 16px;
	font-family: arial, sans-serif;
	line-height: 17px;
	position: relative;
	pointer-events: all!important
}

.pwaforwp-toast-success {
	background-color: #4ab866;
	color: #fff
}

.pwaforwp-toast-error {
	background-color: #d94f4f;
	color: #fff
}

.close-pwaforwp-toast-single {
	position: absolute;
	top: 10px;
	right: 7px;
	font-size: 20px;
	cursor: pointer
}

.pwa_contact_us_div {
	border-top: 1px solid #ddd;
	padding-top: 7px;
	margin-top: 25px
}

.pwaforwp-ext-list-table {
	display: inline-block;
	width: 100%
}

.pwaforwp-ext-wrap {
	width: 70%;
	margin: 0;
	padding: 0;
	margin-right: 20px;
	float: left;
	margin-bottom: 20px
}

.pwaforwp-feature-cards li.pwaforwp-card-wrap .pro {
	background: #4caf50;
	padding: 1px 7px;
	border-radius: 4px;
	font-size: 14px;
	margin-left: 1px;
	color: #fff;
	cursor: pointer;
	position: relative;
	right: 9px
}

.pwaforwp-feature-cards li.pwaforwp-card-wrap .deactivated {
	background: #989696
}

.pwaforwp-center {
	text-align: center
}

#TB_ajaxContent::-webkit-scrollbar {
	-webkit-appearance: none
}

#TB_ajaxContent::-webkit-scrollbar:vertical {
	width: 12px
}

#TB_ajaxContent::-webkit-scrollbar:horizontal {
	height: 12px
}

#TB_ajaxContent::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .5);
	border-radius: 10px;
	border: 2px solid #fff
}

#TB_ajaxContent::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #fff
}

#TB_ajaxContent .addtohomebanner-wrap-tb p {
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 5px
}

.pwawp-modal-mask {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	display: table;
	transition: opacity .3s ease
}

.pwawp-modal-wrapper {
	display: table-cell;
	vertical-align: middle
}

.pwawp-modal-header {
	background: #fff;
	width: 100%;
	z-index: 100;
	border-bottom: 1px solid #d8d8d8;
	position: relative;
	padding-left: 20px
}

.pwawp-modal-container {
	position: fixed;
	overflow: hidden;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	z-index: 160000;
	overflow: hidden;
	min-height: 300px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
	background: #fcfcfc;
	-webkit-font-smoothing: subpixel-antialiased
}

.pwawp-modal-header h3 {
	font-weight: 400;
	padding: 0 16px 0 0;
	font-size: 20px;
	line-height: 50px;
	margin: 0;
	margin-bottom: 0;
	font-weight: 600;
	position: relative;
	left: 15px
}

.pwawp-modal-mask .pwawp-modal-body {
	overflow-y: auto;
	height: 92%;
	position: absolute;
	left: 0;
	top: 0;
	left: 35px;
	right: 0
}

.pwawp-modal-settings {
	padding: 0 0;
	margin-top: 50px;
	border-top: 1px solid #d8d8d8;
	z-index: 1;
	position: relative
}

.pwawp-modal-content {
	height: 100vh;
	overflow-y: hidden;
	padding: 0 20px 0 0;
	overflow-x: hidden
}

.pwawp-modal-default-button {
	float: right;
	position: relative;
	right: 10px
}

.pwawp-modal-footer {
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	bottom: 0;
	background: #f1f1f1;
	z-index: 100;
	display: inline-block
}

.pwawp-modal-footer .pwawp-del-btn-modal {
	left: 215px;
	position: relative;
	background: 0 0;
	border: 0;
	box-shadow: none;
	color: #bc0b0b
}

.pwawp-modal-footer .pwawp-del-btn-modal:hover {
	background: #455a64;
	color: #fff
}

.pwawp-save-btn-modal {
	position: relative;
	right: 15px
}

.pwawp-modal-footer .pwawp-close-btn-modal {
	margin-right: 20px
}

.pwawp-modal-body .pwawp-modal-header {
	padding-left: 20px;
	height: 50px;
	background-color: #fafafa;
	border-bottom: 1px solid #d8d8d8;
	width: 82%;
	position: fixed
}

.pwawp-modal-wrapper .pwawp-media-modal-close {
	background: #fafafa;
	box-shadow: -1px 0 0 #d8d8d8
}

.pwawp-media-modal-close:focus {
	outline: 0;
	border: 0
}

.pwawp-media-modal-close:hover {
	background: #e9e9e9
}

.pwawp-media-modal-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0;
	border: 1px solid transparent;
	background: 0 0;
	color: #666;
	z-index: 1000;
	cursor: pointer;
	outline: 0;
	transition: color .1s ease-in-out, background .1s ease-in-out
}

.pwawp-media-modal-close .pwawp-media-modal-icon:before {
	content: "\f158";
	font: normal 20px/1 dashicons;
	speak: none;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.pwawp-modal-settings th:empty {
	display: none
}

.ios-splash-screen-creator .field {
	margin-bottom: 10px;
}

.ios-splash-screen-creator #pwa-ios-splashmessage {
	display: inline;
}

.ios-splash-screen-creator .field label {
	display: inline-block;
	width: 50%;
}

.ios-splash-images .accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

.ios-splash-images .accordion.active,
.ios-splash-images .accordion:hover {
	background-color: #ccc;
}

.ios-splash-images .panel {
	padding: 3px 18px;
	background-color: white;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}

.ios-splash-images .accordion:after {
	content: '\02795';
	font-size: 13px;
	color: #777;
	float: right;
	margin-left: 5px;
}

.ios-splash-images .active:after {
	content: "\2796";
}

.pwaforwp-feedback-notice p {
	display: inline-block;
}

.pwaforwp-feedback-notice .dashicons-thumbs-up {
	padding-right: 5px;
}