/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2018, 3:55:15 PM
    Author     : Magazine3
*/
@media only screen and (min-width: 992px) {
    .pwaforwp-footer-prompt {
        padding: 1% 3%;
     flex-direction: row;
    justify-content: center;
    }
}
.pwaforwp-footer-prompt{
    display: none;
    width: 100vw;
    line-height: 2em;
    background-color: #fff;
    color: #333;
    text-align: center;
    text-decoration: none;    
    min-height: 10%;
    padding-top:20px;
    position: fixed;
    bottom: 0;
    justify-content: flex-end;
    flex-direction: column;
    flex-grow: 1;
    animation-duration: 1s;
    animation-fill-mode: both;
    z-index: 9999;
}
pwaforwp-bounceInUp{
    animation-name: bounceInUp;
}
.pwaforwp-animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.pwaforwp-btn{
        border: none;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    text-decoration: none;
    color: #fff;
    background-color: #2247ce;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 24px;
    height: 46px;
    min-width: 160px;
    text-align: center;
    border-radius: 0;
    text-transform: uppercase;
    margin: 10px 0;
    transition: all .2s ease-in-out;
}
.pwaforwp-btn-add-to-home{
    
}